$brandColor: #7398e0;
$primaryColor: #2f384c;
$secondaryColor: #dc7342;
//$fontFamily: "Montserrat", sans-serif;
$fontFamily: "Aleo", serif;
//$fontFamily: "Mulish", sans-serif;
$responsiveSize: 750px;
$headerTransitionSpeed: 0.15s;

html,
body {
	font-family: $fontFamily;
	letter-spacing: 0.1rem;
	@media screen and (max-width: $responsiveSize) {
		font-size: 16pt;
	}
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
	color: $secondaryColor;
}
h3 {
	font-size: 2em;
	color: $secondaryColor;
	letter-spacing: 0.1rem;
}
h4 {
	font-size: 1.65em;
	color: $secondaryColor;
}

.show {
	transition: opacity 600ms;
	opacity: 1;
}
.hide {
	opacity: 0;
	visibility: hidden;
}
.hide30 {
	opacity: 0.3;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar {
	height: 110px;
	display: block;
	background-color: #fff;
	transition: height $headerTransitionSpeed;
	li a.nav-link {
		font-size: 16pt;
		&:hover {
			color: $secondaryColor;
			font-weight: bold;
		}
	}
	.navbar-brand {
		background-color: $primaryColor;
		border-radius: 15px;
		padding: 0px;
		height: 65px;
		width: 65px;
		transition: transform $headerTransitionSpeed;
		a {
			color: $secondaryColor;
			text-decoration: none;
			font-weight: bold;
			font-size: 17pt;
		}
	}
	&.shrink-header {
		height: 75px;
		font-size: 14pt;
		.navbar-brand {
			transform: scale(0.68);
		}
		box-shadow: 0px 5px 10px rgb(98, 98, 98);
	}
	.container {
		background-color: #fff;
	}

	z-index: 10;
}

header {
	.header-intro {
		margin-top: 125px;
		margin-bottom: 25px;
		h4 {
			color: $secondaryColor;
		}
	}
	h1,
	h4 {
		text-align: center;
	}
}

//***************************************************************************
//******COVER******
//***************************************************************************
.flex-break {
	flex-basis: 100%;
	height: 0;
	width: 100%;
}
.jumbo-cover {
	padding: 48px 16px;
	background-color: $primaryColor;
	color: #fff;
	.strong {
		color: $secondaryColor;
	}
	.container {
		min-height: 20vh;
		max-width: 50%;
		@media screen and (max-width: $responsiveSize) {
			max-width: 100%;
		}
		padding: 15px;
		.profile-photo {
			img {
				width: 8em;
				height: 10em;
				border-radius: 200px;
				border: 8px solid #fff;
				object-fit: cover;
			}
			float: left;
			margin-right: 1.5em;
			padding: 0px;

			@media screen and (max-width: $responsiveSize) {
				float: none;
				text-align: center;
				margin-bottom: 1em;
				margin-right: 0;
			}
		}
	}

	.about-me {
		text-align: justify;
	}

	.skills {
		clear: left;
		h3 {
			text-align: center;
			margin-bottom: 1em;
		}
		div {
			text-align: center;
			margin-bottom: 1.5em;
			font-style: italic;
			color: $brandColor;
		}
		.skill {
			transition: all 0.2s ease-in-out;
			cursor: pointer;
			line-height: 2em;
			.fa-brands,
			.fa-solid {
				font-size: 4em;
				@media screen and (max-width: $responsiveSize) {
					font-size: 3.5em;
				}
			}

			@media screen and (min-width: $responsiveSize) {
				&:hover {
					transform: scale(1.5);
					color: $secondaryColor;
				}
			}
		}
	}

	.resume-link {
		a {
			text-decoration: none;
			color: $secondaryColor;
			&:hover {
				color: #fff;
			}
		}
	}
}

.jumbo-projects {
	height: auto;
	justify-content: center;
	align-items: center;
	padding: 48px 16px;

	.project-header {
		padding-bottom: 1em;
	}

	.project-container {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
		grid-template-rows: 1fr;
		text-align: center;
		.project {
			border: 2px solid $primaryColor;
			background-color: $primaryColor;
			color: #fff;
			overflow: hidden;
			position: relative;
			.project-image {
				overflow: hidden;
				height: 250px;
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;
				position: relative;
				&::after {
					-moz-box-shadow: inset 0 0 30px #000000;
					-webkit-box-shadow: inset 0 0 30px #000000;
					box-shadow: inset 0 0 30px $primaryColor;
					content: "";
					display: block;
					position: absolute;
					right: 0;
					left: 0;
					top: 0;
					bottom: 0;
				}
				img {
					max-width: 750px;
					object-fit: cover;
					position: relative;
					left: -20px;
				}
			}
			.project-links {
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: 10;
				width: 100%;
				height: 250px;
				border-radius: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					color: #fff;
					&:hover {
						color: $secondaryColor;
					}

					text-decoration: none;
					font-size: 3em;
					padding: 10px;
				}
			}
			.mobile-links {
				@media screen and (min-width: $responsiveSize) {
					display: none;
				}
				a {
					color: $secondaryColor;

					text-decoration: none;
					font-size: 1.5em;
					padding: 10px;
				}
			}
			.project-header {
				color: $secondaryColor;
				font-size: 1.5em;
				padding-top: 10px;
			}

			display: inline-block;
			transition: all $headerTransitionSpeed;
			border-radius: 15px;
			height: auto;

			// @media screen and (min-width: $responsiveSize) {
			// 	&:hover {
			// 		-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
			// 		-moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
			// 		-o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
			// 		box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
			// 	}
			// }

			.project-desc {
				padding: 0px 10px 10px 10px;
				font-size: 10pt;
				text-align: left;
			}
		}
	}
}

.footer {
	background-color: $primaryColor;
}

.footer-text {
	font-size: 16pt;
	text-align: center;
	a {
		padding: 10px;
		text-decoration: none;
		color: #fff;
		&:hover {
			color: $secondaryColor;
		}
	}
}
